<div class="row">
  <div class="col-sm-12">
    <span><b>Client:</b> {{_client.firstName + ' ' + _client.lastName}}</span>
  </div>
</div>
<ul class="clientTasks">
  <li *ngFor="let task of clientTasks">
    <div class="row">
      <div class="col-sm-10">
        <div>
          <span>id: </span>{{task.id}}
        </div>
        <div>
          <span>Description </span>{{task.description}}
        </div>
        <div>
          <span>Start time: </span>{{task.startTime | date: 'dd/MM/yyyy hh:mm' }}
        </div>
        <div>
          <span>Phone numbers: </span>{{task.endTime | date: 'dd/MM/yyyy hh:mm' }}
        </div>
      </div>
      <div class="col-sm-2">
        <button (click)="onSelect(task)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>
  </li>
</ul>
